#menu {
	background-color: purple; 
	ul{ 
		display: inline-block;
		font-size: 24px;
		float: top; 
		list-style: none;
		a{				
			color: white;
			text-decoration: none;
		}
	}
	li {
		float:left;
		padding: 0px 20px 0px 0px; 
		:hover { text-decoration: underline;}
	} 


}