<!DOCTYPE html>
<html>
<head>
  <title>FitbetApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<nav id="menu">
			<ul>
				<li>home</li>
				<li>create race</li>
				<li>view races</li>
			</ul>
		</nav>
		<div id="container">
			<%= yield %>
		</div>
	</body>
</html>
